openapi: 3.0.3
info:
  title: Medical System API
  description: API для керування пацієнтами, лікарями, записами на прийом та медичними записами.
  version: 1.0.0

servers:
  - url: https://api.medicalsystem.com/v1
    description: Production server
  - url: https://staging.api.medicalsystem.com/v1
    description: Staging server

paths:
  /patients:
    get:
      summary: Отримати список пацієнтів
      responses:
        '200':
          description: Успішна відповідь
    post:
      summary: Додати нового пацієнта
      responses:
        '201':
          description: Пацієнт створений

  /patients/{id}:
    get:
      summary: Отримати інформацію про пацієнта
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Інформація про пацієнта
        '404':
          description: Пацієнт не знайдений
    put:
      summary: Оновити дані пацієнта
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Дані оновлені
    delete:
      summary: Видалити пацієнта
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Видалено

  /doctors:
    get:
      summary: Отримати список лікарів
      responses:
        '200':
          description: Успішна відповідь
    post:
      summary: Додати нового лікаря
      responses:
        '201':
          description: Лікар створений

  /appointments:
    get:
      summary: Отримати список записів на прийом
      responses:
        '200':
          description: Успішна відповідь
    post:
      summary: Створити запис на прийом
      responses:
        '201':
          description: Запис створено

  /records:
    get:
      summary: Отримати список медичних записів
      responses:
        '200':
          description: Успішна відповідь
    post:
      summary: Додати медичний запис
      responses:
        '201':
          description: Запис створено

  /register:
    post:
      summary: Реєстрація нового користувача
      responses:
        '201':
          description: Користувач зареєстрований

  /login:
    post:
      summary: Авторизація користувача
      responses:
        '200':
          description: Авторизація успішна
